.main-inicio {
    min-height: 100vh;
    height: 100vh;
    justify-content: flex-end;
    font-family: Montserrat;

    .login-container {
        width: 250px;
        padding: 20px;
        margin-right: 30px;
        h2 {
            margin-bottom: 20px;
        }

        #loginForm {
            div {
                margin-bottom: 15px;
                label {
                    display: block;
                    margin-bottom: 5px;
                }
                input {
                    width: 100%;
                    padding: 8px;
                    font-size: 16px;
                }
            }
            button[type="submit"] {
                width: 40%;
                padding: 5px;
                font-size: 14px;
                color: map-get($colores, colorBasic);
                margin: 20px 0px 20px 60px;
            }
        }

        div {
            margin-bottom: 10px;
            a {
                button {
                    background-image: url(../../../assets/img/logoGo.png);
                    background-size: 18px;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    padding-left: 50px;  
                    width: 100%; /* Ancho completo del botón */
                    padding: 5px; /* Espacio alrededor del contenido */
                    font-size: 12px; /* Tamaño de letra ajustado */
                }
            }
        }
        p {
            font-size: 12px;
        }

        div {
            h3 {
                font-size: 15px;
                margin: 5px;
            }
            h4 {
                font-size: 15px;
            }
        }
    }
}
