// Define una variable para la fuente Montserrat
/*$font-family-Life Savers: 'Montserrat', sans-serif;
$font-family-lobster: 'Lobster', cursive;
$font-family-pacifico: 'Pacifico', cursive;


// Aplica la fuente Montserrat a todo el proyecto
* {
    font-family: $font-family-Montserrat;
    
}
*/